/node_modules
/public/hot
/public/js
/public/css
/public/fonts
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
docker-compose.yml
nginx_app.conf
vhost.conf
web.docker
zz-php.ini
zz-xdebug.ini
app.docker
_ide_helper.php
/coverage
/log
